torch==2.4.1
torchvision==0.19.1
torchaudio==2.4.1
tqdm==4.66.5
pandas==2.1.4
numpy==1.26.4
diffusers==0.30.3
transformers==4.44.2
matplotlib==3.7.1
opencv-python==4.10.0.84
accelerate==0.34.2
streamlit==1.38.0